<header>
    <NavLink href="/" class="logo">
            <img src="images/logo.png" alt="Bank Blazor Logo">
            <h1 class="header-text">Bank Blazor</h1>
    </NavLink>
    <nav>
        <ul class="nav-items">
            <li><NavLink href="/"class="nav-link">Home</NavLink></li>
            <li><NavLink href="/dashboard" class="nav-link">Dashboard</NavLink></li>
            <li><NavLink href="/transactions" class="nav-link">Transactions</NavLink></li>
            <li><NavLink href="/customer-profile" class="nav-link">Customer Profile</NavLink></li>
        </ul>
    </nav>
</header>

